<div id="eshtraits-powers" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.powers}} />
</div>
<div id="eshtraits-skills" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.skills}} />
</div>
<div id="eshtraits-advantages" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.advantages}} />
</div>
<div id="eshtraits-flaws" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.flaws}} />	
</div>
<div id="eshtraits-personality" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.personality}} />
</div>
<div id="eshtraits-timeline" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.timeline}} />
</div>
